* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
nav {
  position: sticky;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4.3rem);
}

div {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
